<div class="col-md-3 p-2">

    <div class="card card-body text-light" style="background-color: #121212">
        <h2><%= guild.name %></h2>
        <p><%= guild.id %></p>
        
        <% if (guild.icon.substring(0,2) === 'a_') { %>
            <img src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.gif" alt="">
        <% } else { %>
            <img src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png" alt="">
        <% } %>

        <%if(guild.owner) {%>
            <span>owner</span>
        <%}%>

        <ul>
            <% guild.features.forEach(feature => { %>
                <li><%=feature%></li>
            <% }) %>
        </ul>
    </div>

</div>
